.menu-button {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}

.menu-title {
    -unity-text-align: upper-center;
    font-size: 21px;
    margin-top: 6px;
    flex-grow: 1;
}

.menu-window {
    height: 264px;
    width: 191px;
    background-color: rgba(135, 135, 135, 0.55);
}

.screen {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
