.stats-title {
    background-color: rgb(0, 0, 0);
    color: rgb(154, 153, 153);
    font-size: 18px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.toolbar-button {
    height: 70px;
    width: 70px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.container {
    margin-bottom: 12px;
    margin-right: 12px;
    margin-top: 12px;
    margin-left: 12px;
}
